.button {
    width: 100%;
    border: none;
    color: white;
    border-radius: 8px;
    margin: 12px 0;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    background-color: $primaryColor;
    cursor: pointer;
    &:hover {
        background-image: -webkit-linear-gradient( 45deg, #FF527B 0%, #FF6A3A 100% );
        box-shadow: 0px 5px 20px #ff809d;
    }
}

@media (max-width: $breakpoint-mobile) {
    .button {
        width: 92%;
    }
}