.success {
    background-color: white;
    border-radius: 24px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 44px;
    &__img {
        width: 56px;
    }
    &__title {
        font-size: 52px;
        margin: 32px 0 0 0;
    }
    &__text {
        margin: 20px 0 24px 0;
    }
    &__button {
        width: 100%;
        border: none;
        color: white;
        border-radius: 8px;
        margin: 12px 0;
        padding: 20px 0;
        font-size: 16px;
        font-weight: 600;
        background-color: $primaryColor;
        cursor: pointer;
        &:hover {
            background-image: -webkit-linear-gradient( 45deg, #FF527B 0%, #FF6A3A 100% );
            box-shadow: 0px 5px 20px #ff809d;
        }
        &:active {
            box-shadow: none;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .success {
        width: 100%;
        min-height: 100%;
        padding: 24px;
        position: relative;
        &__img{
            margin-top: 100px;
        }
        &__title {
            font-size: 40px;
            line-height: 40px;
        }
        &__button {
            position: absolute;
            bottom: 56px;
            right: 24px;
            left: 24px;
            width: auto;
        }
    }

}