.container {
    height: 100vh;
    background-color: #36394B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update {
    background-color: white;
    border-radius: 24px;
    width: fit-content;
    display: flex;
    &__text {
        width: 400px;
        margin: 0 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__title {
            font-size: 56px;
            margin: 0px;
        }
        &__description {
            margin: 16px 0 0 0
        }
        &__benefits {
            list-style: none;
            padding: 0px;
        }
    }
    &__img {
        margin: 24px 24px 24px 0;
    }
}